body {
  background-color: rgb(227, 222, 222);
}
.header_logos_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-bottom: 5px solid rgb(129, 0, 22);
  padding: 10px 5px;
}
.header_logos_container img {
  height: 150px;
  width: 150px;
}
.list_container {
  padding: 15px 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 0 0 0;
}
.list_item {
  width: 40%;
  background: linear-gradient(
    to right,
    rgb(0, 141, 96),
    rgb(68, 150, 245),
    rgb(34, 34, 244),
    rgb(253, 62, 62)
  );
  color: white;
  border-radius: 10px;
  box-shadow: 0 1px 0 0 grey;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.list_item span:first-child {
  font-size: 25px;
  font-weight: 800;
  text-decoration: underline;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .list_item {
    width: 80%;
  } 
  .list_container {
    padding: 0px 0px;
  }
  .header_logos_container img {
    height: 50px;
    width: 50px;
  }
  .list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}